
	/* ILI9341 display ${NUM}, uses interrupt ${INT} */
	fragment@1${HEX} {
		target = <&amba>;
		__overlay__ {
			backlight${NUM}: gpio-backlight@${NUM} {
				status = "okay";
				compatible = "gpio-backlight";
				gpios = <&led_gpio0 ${NUM} GPIO_ACTIVE_HIGH>;
				default-on;
			};
		};
	};
	fragment@2${HEX} {
		target = <&amba>;
		__overlay__ {
			axi_spi${NUM}: spi@41e${HEX}0000 {
				compatible = "xlnx,axi-quad-spi-3.2", "xlnx,xps-spi-2.00.a";
				reg = <0x41e${HEX}0000 0x10000>;
				status = "okay";
				interrupt-parent = <&intc>;
				interrupts = <0 ${INT} 1>;
				bits-per-word = <8>;
				fifo-size = <256>;
				num-cs = <1>;

				fbtft${NUM}: display@${NUM} {
					status = "okay";
					compatible = "ilitech,ili9341";
					reg = <0>;
					dc-gpios = <&axi_gpio0 ${NUM} GPIO_ACTIVE_HIGH>;
					reset-gpios = <&rst_gpio0 ${NUM} GPIO_ACTIVE_LOW>;
					spi-max-frequency = <50000000>;
					fps = <60>;
					rotate = <0>;
					backlight = <&backlight0>;
					buswidth = <1>;
					bgr = <1>;
				};
			};
		};
	};
