#include <dt-bindings/gpio/gpio.h>

#define ENABLE_DISPLAYS

/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target = <&fpga_full>;
		__overlay__ {
			status = "okay";
			firmware-name = "fpga.bin";
		};
	};

	/* AXI interrupt controller */
	fragment@1 {
		target = <&amba>;
		__overlay__ {
			axi_intc: interrupt-controller@41800000 {
				compatible = "xlnx,axi-intc-4.1", "xlnx,xps-intc-1.00.a";
				reg = <0x41800000 0x10000>;
				status = "okay";
				interrupt-parent = <&intc>;
				interrupts = <0 29 1>;
				#interrupt-cells = <2>;
				interrupt-controller;
				xlnx,kind-of-intr = <0x3FFF>;
				xlnx,num-intr-inputs = <14>;
			};
		};
	};

	/* SBC Ethernet */
	fragment@2 {
		target = <&amba>;
		__overlay__ {
			eth0: ethernet@40e00000 {
				compatible = "xlnx,axi-ethernetlite-3.0", "xlnx,xps-ethernetlite-1.00.a";
				reg = <0x40e00000 0x10000>;
				status = "okay";
				device_type = "network";
				local-mac-address = [00 0a 35 00 00 00];
				phy-handle = <&phy0>;
			 	xlnx,rx-ping-pong = <0x1>;
				xlnx,tx-ping-pong = <0x1>;
				interrupt-parent = <&intc>;
		        interrupts = <0 30 1>;
				mdio {
					#address-cells = <1>;
					#size-cells = <0>;
					phy0: phy@7 {
						compatible = "ethernet-phy-ieee802.3-c22";
						device_type = "ethernet-phy";
						reg = <1>;
					};
				};
			};
		};
	};

	/* SPI for 595 shift registers that drive RST gpios */
	fragment@3 {
 		target = <&amba>;
 		__overlay__ {
			rst_gpio_spi0: rst_gpio_spi@41df0000 {
				compatible = "xlnx,axi-quad-spi-3.2", "xlnx,xps-spi-2.00.a";
				reg = <0x41df0000 0x10000>;
				status = "okay";
				interrupt-parent = <&intc>;
				interrupts = <0 31 1>;
				bits-per-word = <8>;
				fifo-size = <16>;
				num-cs = <1>;

				rst_gpio0: rst_gpio@0 {
					compatible = "fairchild,74hc595";
					reg = <0>;
					#gpio-cells = <2>;
					gpio-controller;
					registers-number = <3>;
					status = "okay";
				};
			};
		};
	};

	/* SPI for 595 shift registers that drive LED gpios */
	fragment@4 {
		target = <&amba>;
		__overlay__ {
			led_gpio_spi0: led_gpio_spi@41de0000 {
				compatible = "xlnx,axi-quad-spi-3.2", "xlnx,xps-spi-2.00.a";
				reg = <0x41de0000 0x10000>;
				status = "okay";
				interrupt-parent = <&intc>;
				interrupts = <0 32 1>;
				bits-per-word = <8>;
				fifo-size = <16>;
				num-cs = <1>;

				led_gpio0: led_gpio@0 {
					compatible = "fairchild,74hc595";
					reg = <0>;
					#gpio-cells = <2>;
					gpio-controller;
					registers-number = <3>;
					status = "okay";
				};
			};
		};
	};

	/* AXI GPIO that directly drives DC gpios */
	fragment@5 {
 		target = <&amba>;
 		__overlay__ {
			dc_gpio0: gpio@41200000 {
				compatible = "xlnx,xps-gpio-1.00.a";
				reg = <0x41200000 0x10000>;
				#gpio-cells = <2>;
				gpio-controller;
				xlnx,gpio-width = <16>;
				status = "okay";
 			};
 		};
 	};

/* Displays */
#ifdef ENABLE_DISPLAYS
#START_INTERRUPT_CNT 0
#INSERT_DISPLAY 0
#INSERT_DISPLAY 1
#INSERT_DISPLAY 2
#INSERT_DISPLAY 3
#INSERT_DISPLAY 4
#INSERT_DISPLAY 5
#INSERT_DISPLAY 6
#INSERT_DISPLAY 7
#INSERT_DISPLAY 8
#INSERT_DISPLAY 9
#INSERT_DISPLAY A
#INSERT_DISPLAY B
#INSERT_DISPLAY C
#INSERT_DISPLAY D
#endif
};
