/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target = <&fpga_full>;
		__overlay__ {
			firmware-name = "fpga.bin";
			status = "okay";
		};
	};

	fragment@1 {
		target = <&amba>;
		__overlay__ {
			eth0: ethernet@40e00000 {
				compatible = "xlnx,axi-ethernetlite-3.0", "xlnx,xps-ethernetlite-1.00.a";
				status = "okay";
				device_type = "network";
				local-mac-address = [00 0a 35 00 00 00];
				phy-handle = <&phy0>;
				reg = <0x40e00000 0x10000>;
			 	xlnx,rx-ping-pong = <0x1>;
				xlnx,tx-ping-pong = <0x1>;
				interrupt-parent = <&intc>;
		        interrupts = <0 29 1>;
				mdio {
					#address-cells = <1>;
					#size-cells = <0>;
					phy0: phy@7 {
						compatible = "ethernet-phy-ieee802.3-c22";
						device_type = "ethernet-phy";
						reg = <1>;
					};
				};
			};
		};
	};
};
