/dts-v1/;

#include "zynq-7000.dtsi"

/ {
	model = "Microphase Z7 lite devboard";
	compatible = "microphase,z7lite", "xlnx,zynq-7000";

	aliases {
		serial0 = &uart0;
		mmc0 = &sdhci0;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x1F000000>; /* 1x4Gib / 512MiB of DDR3 */
		/* last 16MiB is reserved for DMA bullshit */
	};

	chosen {
		bootargs = "";
		stdout-path = "serial0:115200n8";
	};

	usb_phy0: phy0 {
		// USB3320C-EZK ULPI PHY
		// https://ww1.microchip.com/downloads/aemDocuments/documents/UNG/ProductDocuments/DataSheets/USB3320-Data-Sheet-DS00001792.pdf
		compatible = "ulpi-phy";
		#phy-cells = <0>;
	};
};

&clkc {
	/* PS Clock runs at 33.3MHz */
	ps-clk-frequency = <33333333>;
};

&sdhci0 {
	status = "okay";
	bootph-all;
};

&uart0 {
	status = "okay";
	bootph-all;
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};

&qspi {
	bootph-all;
	status = "okay";
	flash@0 {
		compatible = "spansion,w25q128", "jedec,spi-nor";
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <4>;
		spi-max-frequency = <50000000>;
		reg = <0>;
	};
};
