#include <dt-bindings/gpio/gpio.h>

/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target = <&fpga_full>;
		__overlay__ {
			status = "okay";
			firmware-name = "fpga.bin";
		};
	};

	fragment@1 {
		target = <&amba>;
		__overlay__ {
			eth0: ethernet@40e00000 {
				compatible = "xlnx,axi-ethernetlite-3.0", "xlnx,xps-ethernetlite-1.00.a";
				reg = <0x40e00000 0x10000>;
				status = "okay";
				device_type = "network";
				local-mac-address = [00 0A 35 BE B0 AE];
// Some random addresses to use for new boards:
//				local-mac-address = [00 0A 35 F3 D5 7D];
//				local-mac-address = [00 0A 35 BF 8D F9];
//				local-mac-address = [00 0A 35 03 23 B9];
//				local-mac-address = [00 0A 35 BB F5 EC];
//				local-mac-address = [00 0A 35 DC B1 11];
				phy-handle = <&phy0>;
			 	xlnx,rx-ping-pong = <0x1>;
				xlnx,tx-ping-pong = <0x1>;
				interrupt-parent = <&intc>;
		        interrupts = <0 29 1>;
				mdio {
					#address-cells = <1>;
					#size-cells = <0>;
					phy0: phy@7 {
						compatible = "ethernet-phy-ieee802.3-c22";
						device_type = "ethernet-phy";
						reg = <1>;
					};
				};
			};
		};
	};

	fragment@2 {
		target = <&amba>;
		__overlay__ {
			axi_gpio0: gpio@41200000 {
				compatible = "xlnx,xps-gpio-1.00.a";
				reg = <0x41200000 0x10000>;
				status = "okay";
				gpio-controller;
				#gpio-cells = <2>;
			};
		};
	};
};
