#include orangepi-zero3-dev.config

# use a custom kernel config based on the aarch64/defconfig
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y

# use a hand rolled config for this, the aarch64 default config adds lots of garbage
# and is missing the staging drivers we need for the st7735
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_JLBSP_PATH)/board/opi-chuck/linux.config"

# for simplicity sake disable my custom fragments
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES=""

# enable custom dtbo for st7735
BR2_LINUX_KERNEL_CUSTOM_DTS_DIR+="$(BR2_EXTERNAL_JLBSP_PATH)/board/opi-chuck/dts"
BR2_LINUX_KERNEL_DTB_OVERLAY_SUPPORT=y

# rootfs options
BR2_TARGET_ROOTFS_EXT2_SIZE="300M"
BR2_ROOTFS_OVERLAY+="$(BR2_EXTERNAL_JLBSP_PATH)/board/opi-chuck/skeleton"
BR2_ROOTFS_DEVICE_TABLE+="$(BR2_EXTERNAL_JLBSP_PATH)/board/opi-chuck/skeleton.txt"

# BR2_PACKAGE_JL_SECRET_KEYS is not set
# BR2_PACKAGE_JL_SECRET_KEYS_DEV is not set

BR2_PACKAGE_ALSA_UTILS=y

BR2_PACKAGE_BAD_APPLE_RS=y
BR2_PACKAGE_BAD_APPLE_FRAMES=y
BR2_PACKAGE_BAD_APPLE_FRAMES_FRAME_DATA=y
BR2_PACKAGE_BAD_APPLE_FRAMES_AUDIO_TRACK=y
