#include ws281x-rpi0w.frag
##unclude dev-tools.frag

BR2_PACKAGE_LIBCONFIG=y
BR2_PACKAGE_LED_ALARM=y

# include custom kernel and rpi firmware config to enable i2c1 and rtc hardware
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES+="$(BR2_EXTERNAL_JLBSP_PATH)/board/led-alarm/linux-rtc.frag"
BR2_PACKAGE_RPI_FIRMWARE_CONFIG_FILE="$(BR2_EXTERNAL_JLBSP_PATH)/board/led-alarm/config.txt" 

# include in led-alarm keys
BR2_PACKAGE_JL_SECRET_KEYS=y
# BR2_PACKAGE_JL_SECRET_KEYS_DEV is not set
BR2_PACKAGE_JL_SECRET_KEYS_LED_ALARM=y

# lighttpd with php as a minimal web server for remote monitoring
BR2_PACKAGE_LIGHTTPD=y
BR2_PACKAGE_PHP=y
BR2_PACKAGE_PHP_SAPI_FPM=y
# BR2_PACKAGE_PHP_SAPI_CGI is not set
# BR2_PACKAGE_PHP_SAPI_CLI is not set
# BR2_PACKAGE_PHP_EXT_SESSION is not set
# BR2_PACKAGE_PHP_EXT_ZLIB is not set
# BR2_PACKAGE_PHP_EXT_POSIX is not set

# Need sudo so www user can run kill
BR2_PACKAGE_SUDO=y

# custom package for handling libconfig files
BR2_PACKAGE_LIBCONFIG_RW=y

# Add in overlays for led-alarm
BR2_ROOTFS_OVERLAY+="$(BR2_EXTERNAL_JLBSP_PATH)/board/led-alarm/skeleton"
BR2_ROOTFS_DEVICE_TABLE+="$(BR2_EXTERNAL_JLBSP_PATH)/board/led-alarm/skeleton.txt"
BR2_ROOTFS_USERS_TABLES+="$(BR2_EXTERNAL_JLBSP_PATH)/board/led-alarm/users.txt"

# Perform some pruning via a post-fakeroot script
BR2_ROOTFS_POST_FAKEROOT_SCRIPT+="$(BR2_EXTERNAL_JLBSP_PATH)/support/prune.sh"
BR2_ROOTFS_POST_FAKEROOT_SCRIPT_ARGS+="$(BR2_EXTERNAL_JLBSP_PATH)/board/led-alarm/prune.txt"

# Finally set hostname
BR2_TARGET_GENERIC_HOSTNAME="led-alarm"
