#include rpi2-dev.config

BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES+="$(BR2_EXTERNAL_JLBSP_PATH)/board/ntp/linux.frag"

BR2_PACKAGE_RPI_FIRMWARE_CMDLINE_FILE="$(BR2_EXTERNAL_JLBSP_PATH)/board/ntp/cmdline.txt"
BR2_PACKAGE_RPI_FIRMWARE_CONFIG_FILE="$(BR2_EXTERNAL_JLBSP_PATH)/board/ntp/config.txt"

BR2_PACKAGE_CHRONY=y

BR2_PACKAGE_GPSD=y
BR2_PACKAGE_GPSD_CLIENTS=y
BR2_PACKAGE_GPSD_DAEMON=y
BR2_PACKAGE_GPSD_DEVICES="/dev/ttyAMA0"
BR2_PACKAGE_GPSD_GROUP=y
BR2_PACKAGE_GPSD_GROUP_VALUE="gps"
BR2_PACKAGE_GPSD_USER=y
BR2_PACKAGE_GPSD_USER_VALUE="gps"

BR2_PACKAGE_PPS_TOOLS=y

BR2_PACKAGE_NTP=y
BR2_PACKAGE_NTP_NTPDATE=y
# BR2_PACKAGE_NTP_NTPD is not set

BR2_ROOTFS_OVERLAY+="$(BR2_EXTERNAL_JLBSP_PATH)/board/ntp/skeleton"
BR2_ROOTFS_DEVICE_TABLE+="$(BR2_EXTERNAL_JLBSP_PATH)/board/ntp/skeleton.txt"
BR2_ROOTFS_USERS_TABLES+="$(BR2_EXTERNAL_JLBSP_PATH)/board/ntp/users.txt"

BR2_TARGET_GENERIC_HOSTNAME="ntp"

