#include orangepi_zero3_defconfig
#include common.frag

BR2_LINUX_KERNEL_DTB_KEEP_DIRNAME=y
# BR2_LINUX_KERNEL_INSTALL_TARGET is not set

BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_JLBSP_PATH)/board/orangepi/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="-c $(BR2_EXTERNAL_JLBSP_PATH)/board/orangepi/genimage.cfg"
BR2_ROOTFS_POST_FAKEROOT_SCRIPT+="$(BR2_EXTERNAL_JLBSP_PATH)/support/install-dtbos.sh"

BR2_TARGET_ROOTFS_EXT2_SIZE="200M"

BR2_PACKAGE_JL_SECRET_KEYS=y
BR2_PACKAGE_JL_SECRET_KEYS_DEV=y
