#include amd64-common.frag

BR2_TARGET_ROOTFS_EXT2_SIZE="250M"

BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_JLBSP_PATH)/board/qemu-maxxing/patches"

BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_JLBSP_PATH)/board/qemu-maxxing/linux.config"

BR2_ROOTFS_OVERLAY+="$(BR2_EXTERNAL_JLBSP_PATH)/board/qemu-maxxing/skeleton"
BR2_ROOTFS_DEVICE_TABLE+="$(BR2_EXTERNAL_JLBSP_PATH)/board/qemu-maxxing/skeleton.txt"

BR2_PACKAGE_QEMU=y
