#include raspberrypi0w_defconfig
#include rpi-dev.frag

# Use the common wifi skeleton (adds the S80wifi init script)
BR2_ROOTFS_OVERLAY+="$(BR2_EXTERNAL_JLBSP_PATH)/board/common/skeleton-wifi"
BR2_ROOTFS_DEVICE_TABLE+="$(BR2_EXTERNAL_JLBSP_PATH)/board/common/skeleton-wifi.txt"

BR2_GLOBAL_PATCH_DIR+="$(BR2_EXTERNAL_JLBSP_PATH)/board/rpi/0w/patches"

# BR2_LINUX_KERNEL_USE_DEFCONFIG is not set
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_JLBSP_PATH)/board/rpi/configs/bcm2835_defconfig"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES+="$(BR2_EXTERNAL_JLBSP_PATH)/board/common/linux/brcmfmac-wifi.frag"

BR2_PACKAGE_RPI_FIRMWARE_CMDLINE_FILE="$(BR2_EXTERNAL_JLBSP_PATH)/board/rpi/0w/cmdline.txt"
BR2_PACKAGE_RPI_FIRMWARE_CONFIG_FILE="$(BR2_EXTERNAL_JLBSP_PATH)/board/rpi/0w/config.txt"
BR2_PACKAGE_RPI_FIRMWARE_INSTALL_DTB_OVERLAYS=y

BR2_PACKAGE_JL_SECRET_KEYS=y
BR2_PACKAGE_JL_SECRET_KEYS_DEV=y
BR2_PACKAGE_JL_SECRET_KEYS_LESS_EVIL_WIFI=y

BR2_PACKAGE_BRCMFMAC_SDIO_FIRMWARE_RPI=y
BR2_PACKAGE_BRCMFMAC_SDIO_FIRMWARE_RPI_WIFI=y

BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_WPA_SUPPLICANT_NL80211=y
BR2_PACKAGE_WPA_SUPPLICANT_CLI=y
BR2_PACKAGE_WPA_SUPPLICANT_PASSPHRASE=y
