#include z7lite_defconfig
#include common.frag

BR2_ROOTFS_OVERLAY+="$(BR2_EXTERNAL_JLBSP_PATH)/board/screen-hat/skeleton"
BR2_ROOTFS_DEVICE_TABLE+="$(BR2_EXTERNAL_JLBSP_PATH)/board/screen-hat/skeleton.txt"

# BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES is not set
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_JLBSP_PATH)/board/screen-hat/linux.config"
BR2_LINUX_KERNEL_CUSTOM_DTS_DIR+="$(BR2_EXTERNAL_JLBSP_PATH)/board/screen-hat/dts"
BR2_TARGET_UBOOT_ZYNQ_PS7_INIT_FILE="$(BR2_EXTERNAL_JLBSP_PATH)/board/screen-hat/fpga/ps7_init_gpl.c"

# Custom kernel here since xilinx is special
# BR2_LINUX_KERNEL_LATEST_VERSION is not set
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y

BR2_PACKAGE_JL_SECRET_KEYS=y
# BR2_PACKAGE_JL_SECRET_KEYS_DEV is not set
BR2_PACKAGE_JL_SECRET_KEYS_SCREEN_HAT=y

BR2_PACKAGE_FBTERM=y
BR2_PACKAGE_FB_TEST_APP=y
BR2_PACKAGE_FBDUMP=y

BR2_TARGET_GENERIC_HOSTNAME="screen-hat"
