#include bananapi_m2_zero_defconfig
#include common.frag

BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES+="$(BR2_EXTERNAL_JLBSP_PATH)/board/common/linux/brcmfmac-wifi.frag"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES+="$(BR2_EXTERNAL_JLBSP_PATH)/board/tdisp/linux.frag"

BR2_ROOTFS_OVERLAY+="$(BR2_EXTERNAL_JLBSP_PATH)/board/tdisp/skeleton"
BR2_ROOTFS_DEVICE_TABLE+="$(BR2_EXTERNAL_JLBSP_PATH)/board/tdisp/skeleton.txt"

# We're using kernel 6.12 and the bpi m2 zero defconfig sets these
# BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_8 is not set

# WPA supplicant to handle wifi connections
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_WPA_SUPPLICANT_NL80211=y
BR2_PACKAGE_WPA_SUPPLICANT_CLI=y
BR2_PACKAGE_WPA_SUPPLICANT_PASSPHRASE=y

# Password file and ssh keys
BR2_PACKAGE_JL_SECRET_KEYS=y
BR2_PACKAGE_JL_SECRET_KEYS_TDISP=y
BR2_PACKAGE_JL_SECRET_KEYS_LESS_EVIL_WIFI=y

# Firmware files needed by brcmfmac driver
BR2_PACKAGE_BPI_WIFI_FW=y

# 74HC595 driver
BR2_PACKAGE_DRIVER_74HC595=y

# Userspace display app
BR2_PACKAGE_TIME_DISPLAY=y
