#include common.frag
# BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES is not set

BR2_i386=y
BR2_x86_pentium2=y

BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_12=y

BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_JLBSP_PATH)/patches"
BR2_DOWNLOAD_FORCE_CHECK_HASHES=y
BR2_TARGET_GENERIC_GETTY_PORT="tty1"

BR2_ROOTFS_POST_BUILD_SCRIPT="board/pc/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="-c $(BR2_EXTERNAL_JLBSP_PATH)/board/thinkpad390e/genimage-bios.cfg"

BR2_ROOTFS_OVERLAY+="$(BR2_EXTERNAL_JLBSP_PATH)/board/thinkpad390e/skeleton"
BR2_ROOTFS_DEVICE_TABLE+="$(BR2_EXTERNAL_JLBSP_PATH)/board/thinkpad390e/skeleton.txt"
BR2_ROOTFS_USERS_TABLES+="$(BR2_EXTERNAL_JLBSP_PATH)/board/thinkpad390e/users.txt"

BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_LATEST_VERSION=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_JLBSP_PATH)/board/thinkpad390e/linux.config"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_LINUX_KERNEL_NEEDS_HOST_LIBELF=y

BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="500M"
# BR2_TARGET_ROOTFS_TAR is not set

BR2_TARGET_GRUB2=y
BR2_TARGET_GRUB2_INSTALL_TOOLS=y
BR2_TARGET_GRUB2_BUILTIN_MODULES_PC="boot linux ext2 squash4 fat part_msdos normal biosdisk usb usbms"

BR2_PACKAGE_HOST_GENIMAGE=y

BR2_TARGET_GENERIC_HOSTNAME="thinkpad390e"

BR2_TOOLCHAIN_BUILDROOT_CXX=y

BR2_PACKAGE_JL_SECRET_KEYS=y
# BR2_PACKAGE_JL_SECRET_KEYS_DEV is not set
BR2_PACKAGE_JL_SECRET_KEYS_THINKPAD_390E=y

BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_MPV=y
BR2_PACKAGE_LYNX=y
BR2_PACKAGE_LIBSTDCPP=y
BR2_PACKAGE_LSHW=y
BR2_PACKAGE_COREUTILS=y
BR2_PACKAGE_CPULIMIT=y
BR2_PACKAGE_IOTOP=y
BR2_PACKAGE_AWK=y
BR2_PACKAGE_GREP=y
BR2_PACKAGE_SED=y
BR2_PACKAGE_SUDO=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_NEOFETCH=y
BR2_PACKAGE_GIT=y
BR2_PACKAGE_MAKE=y
BR2_PACKAGE_TREE=y
BR2_PACKAGE_PKGCONF=y
BR2_PACKAGE_LUA=y
BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_4TH=y
BR2_PACKAGE_ASCII_INVADERS=y
BR2_PACKAGE_XORCURSES=y
BR2_PACKAGE_SL=y
BR2_PACKAGE_CA_CERTIFICATES=y
BR2_PACKAGE_XORG7=y
BR2_PACKAGE_XSERVER_XORG_SERVER=y
BR2_PACKAGE_XSERVER_XORG_SERVER_MODULAR=y
BR2_PACKAGE_XDRIVER_XF86_INPUT_MOUSE=y
BR2_PACKAGE_XDRIVER_XF86_VIDEO_NEOMAGIC=y
BR2_PACKAGE_XTERM=y
BR2_PACKAGE_XINIT=y
BR2_PACKAGE_XCALC=y
BR2_PACKAGE_XCLOCK=y
BR2_PACKAGE_FLUXBOX=y
BR2_PACKAGE_MUPDF=y
BR2_PACKAGE_XDOTOOL=y
BR2_PACKAGE_WMCTRL=y
BR2_PACKAGE_KBD=y
