#include rpi5-dev.config
#unclude dev-tools.frag

# since this is an actual system, add in the production scripts
BR2_ROOTFS_OVERLAY+="$(BR2_EXTERNAL_JLBSP_PATH)/board/common/skeleton-prod"
BR2_ROOTFS_DEVICE_TABLE+="$(BR2_EXTERNAL_JLBSP_PATH)/board/common/skeleton-prod.txt"

BR2_PACKAGE_JL_SECRET_KEYS=y
BR2_PACKAGE_JL_SECRET_KEYS_WG_PROXY=y

# Include wireguard and bash (so I can use wg-quick)
BR2_PACKAGE_BASH=y
BR2_PACKAGE_WIREGUARD_TOOLS=y
# Include iproute2 as busybox ip sucks
BR2_PACKAGE_IPROUTE2=y

# kernel options to enable/support wireguard
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES+="$(BR2_EXTERNAL_JLBSP_PATH)/board/wg-proxy/linux.frag"

# enables stat command for wg-quick
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES+="$(BR2_EXTERNAL_JLBSP_PATH)/board/wg-proxy/busybox.frag"

# Add in overlays for the VPN server
BR2_ROOTFS_OVERLAY+="$(BR2_EXTERNAL_JLBSP_PATH)/board/wg-proxy/skeleton"
BR2_ROOTFS_DEVICE_TABLE+="$(BR2_EXTERNAL_JLBSP_PATH)/board/wg-proxy/skeleton.txt"
# BR2_ROOTFS_USERS_TABLES+="$(BR2_EXTERNAL_JLBSP_PATH)/board/wg-proxy/users.txt"

# Finally set hostname
BR2_TARGET_GENERIC_HOSTNAME="wg-proxy"
