#include z7lite_defconfig
#include common.frag

BR2_LINUX_KERNEL_CUSTOM_DTS_DIR+="$(BR2_EXTERNAL_JLBSP_PATH)/board/z7lite-dev/dts"
BR2_TARGET_UBOOT_ZYNQ_PS7_INIT_FILE="$(BR2_EXTERNAL_JLBSP_PATH)/board/z7lite-dev/fpga/ps7_init_gpl.c"

# Custom kernel here since xilinx is special
# BR2_LINUX_KERNEL_LATEST_VERSION is not set
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y

BR2_PACKAGE_JL_SECRET_KEYS=y
BR2_PACKAGE_JL_SECRET_KEYS_DEV=y

BR2_PACKAGE_FBTERM=y
BR2_PACKAGE_FB_TEST_APP=y
BR2_PACKAGE_FBDUMP=y

BR2_TARGET_GENERIC_HOSTNAME="z7lite-dev"
